*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}

body{
    background: url('https://www.hdwallpapersfreedownload.com/uploads/large/ipl/ipl-t20-2018-trophy-cup-hd-wallpaper.jpg') top center;
    background-size: cover;
    height: 100vh;
    
}

.main{
    width: 78%;
    background: rgba(0,0,0,0.87);
    color: #ffffff;
    text-align: center;
    padding: 50px;
    padding-bottom: 30px;
    position: absolute;
    top: 17%;
    left: 9.8%;
    transform: translateY(-50%,-50%);
}

.btn{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: large;
    font-weight: 500;
    border: none;
    outline: none;
    background: #39b7dd;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    border: 1px solid white;
    background: black;
    color: greenyellow;
}

@media screen and (max-width: 600px){
    .main{
        width: 90%;
        left: 5%;
        padding: 10px;
        font-size: small;
        font-weight: 100;
    }
    .btn{
        padding: 5px 10px;
    }
    .mobile-para{
        display: none;
    }
}